* {
  font-family: 'Calibri';
}

.btn {
  margin: 1%;
}

.header {
  border-bottom: solid;
  text-align: center;
}

.trinomial-general-form {
  text-align: center;
}


/*input.form-control {
  text-align: center !important;
}*/

input[type="radio"] {
  text-align: center !important;
}

div {
  margin: 0.5%;
}

h1 {
  text-align: center;
  margin: 3%;
}

div.container {
  max-width: 85% !important;
}

svg text {
  fill: black !important;
}



svg {
  margin: 1%;
  margin-left: 5%;
}

svg:hover {
  background-color: lightblue;
}
