.btn {
  margin: 1%;
}

.header {
  border-bottom: solid;
  background: lightgrey;
}

.trinomial-general-form {
  text-align: center;
}

div.form-group {
  margin: 1%;
  display: inline-block;
  width: auto;
}

input {
  display: inline-block;
}

svg {
  margin: 1%;
}
