@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Roboto+Condensed:400,700');

/* universal app styling */

* {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  /*font-family: 'Roboto Condensed';*/
  font-size: 1.2em;
}

div {
  padding: 0 !important;
}

div.container {
  max-width: 85% !important;
}

h2, h3, h4, h5 {
  padding: 3%;
  margin: 0;
}



/* header styling */

.btn {
  margin: 1%;
}

.header {
  /*border: solid;*/
  border-bottom: solid;
  color: midnightblue;
  vertical-align: bottom;
  padding: 5%;
  /*background-color: lightgrey;*/
  /*text-align: center;*/
}

.header h2 {
  font-weight: bold;
  padding: 0;
  padding-top: 3%;
  padding-bottom: 0.5%;
  text-align: left;
}

.header h5 {
  padding: 0;
  /*padding-top: 3%;*/
  padding-bottom: 2%;
  padding-left: 1%;
  font-weight: normal;
}

.welcome-message h5 {
  text-align: right;
  font-weight: bold;
  padding: 10%;
}

.learn-buttons {
  text-align: left;
}

.signin-out-links {
  text-align: right;
}

/* body styling */

/*homepage main header*/
h1 {
  font-weight: 600;
  margin: 3%;
  text-align: center;
}

/* gauge styling */
svg text {
  fill: black !important;
}

div.col-lg-3:hover {
  background-color: lightgrey;
}

.report-gauge h5, h6 {
  margin: 0;
}

.report-gauge h5 {
  font-weight: bold;
}

.report-gauge h6 {
  font-size: 1.2em;
}

.report-gauge {
  margin-top: 1%;
  margin-bottom: 1%;
}

a.col-lg-3 {
  text-align: center;
}

/* trinomial show page */

.problem-traker {
  text-align: center;
}

.problem-traker h3 {
  font-weight: bold;
  color: midnightblue;
}

h2.trinomial-general-form {
  text-align: center;
}


/*  signin/out form styling */
.form-group,
.goodbye-message {
  margin-top: 2%;
}

/* learn patterns styling */
div.col-lg-3 {
  padding: 5%;
  /*border: solid;*/
  /*background-color: lightgrey;*/
  text-align: center;
  /*color: blue;*/
  /*margin-top: 2%;*/
}

.pattern-card {
  margin: 3%;
}

.pattern-card:hover {
  background-color: white;
}
